{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
<font size="5">
ファイルを選択して送信してください
</font>
<hr>

<form action = "./" method = "POST" enctype = "multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpeg">
    <input type = "submit"/>
</form>

{% if prediction %}
<hr>
<img src="./images/{{ filepath }}" style="margin-top: 10px; vertical-align: bottom; width: 300px"><br>
<hr>
<font size="4"><b>予測結果: {{ prediction }}</b></font><br>
<font size="3">
File: {{ filepath }}<br>
<!-- Save path: {{ save_path }}<br> -->
Woman {{ woman }}<br>
Man: {{ man }}<br>
</font>
<hr>

{% endif %}

{% endblock %}